body{
    background-color: aquamarine;
}

p{
    color: black;
    background-color: red;
}
h2 {
    background-color: bisque;
}

#home {
    background-color: blue;

}
.con {
    background-color: blueviolet;
    font-size: 5rem;
}